


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Contacts App</a>
    </div>
    <ul class="nav navbar-nav" *ngIf="showTabs">
      <li routerLinkActive="active"><a routerLink="/login">Login</a></li>      
      <li routerLinkActive="active"><a routerLink="/register">Registration</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="!showTabs">     
      <li routerLinkActive="active" (click)="logOut()"><a routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
    </ul>
  </div>
</nav>
  
<router-outlet></router-outlet>