<!--<p>you have not created any contact groups click to</p>
<button (click)="createGroup()">
   Create Contact Gruops
</button>

<form class="form-horizontal form-text" *ngIf="showContactGroup">
    <fieldset>
      <div id="legend">
        <legend class="">Create Group</legend>
      </div>
      <div class="control-group">
        &lt;!&ndash; Username &ndash;&gt;
        <label class="control-label"  for="username">first Name</label>
        <div class="controls">
          <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
          <p class="help-block">Username can contain any letters or numbers, without spaces</p>
        </div>
      </div>
      <div class="control-group">
        &lt;!&ndash; Username &ndash;&gt;
        <label class="control-label"  for="username">last Name</label>
        <div class="controls">
          <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
          <p class="help-block">Username can contain any letters or numbers, without spaces</p>
        </div>
      </div>
      <div class="control-group">
        &lt;!&ndash; E-mail &ndash;&gt;
        <label class="control-label" for="email">E-mail</label>
        <div class="controls">
          <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
          <p class="help-block">Please provide your E-mail</p>
        </div>
      </div>
   
      <div class="control-group">
        &lt;!&ndash; Password&ndash;&gt;
        <label class="control-label" for="password">phone number</label>
        <div class="controls">
          <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
          <p class="help-block">Password should be at least 4 characters</p>
        </div>
      </div>
   
      
   
      <div class="control-group">
        &lt;!&ndash; Button &ndash;&gt;
        <div class="controls">
          <button class="btn btn-success">create</button>
        </div>
      </div>
    </fieldset>
  </form>-->



<div >
  <div class="row padd-0">
    <div class="col-sm-3 left-pane">
      <div class="grp-button ">
        <button  class="btn btn-primary" (click)="createGroup()">Create Group</button>
      </div>
      <div class="group-list">
        <h4>List of Groups</h4>
        <ul>
          <li *ngFor="let key of  groupsList" (click)="addContacts(key)">  {{key}}</li>
        </ul>
        <p *ngIf="groupsList.length <= 0">
          No Groups Yet
        </p>
      </div>
    </div>
    <div class="col-sm-9 right-pane" *ngIf="showContactsPane">
      <div *ngIf="currentContactsList.length > 0">
        <div class="row">
          <div class="grp-button col-sm-12">
            <button  class="btn btn-primary pull-right" (click)="AddContact()">Add New Contact</button>
            <p appCustomDirective>Highlight me!</p>
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="listSearch">

        <div  class="row contacts-list" >
          <table class="table table-striped table-responsive">
            <thead  class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Contact</th>
              <th>Email</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cc of currentContactsList|search:query | paginate: { itemsPerPage: 5, currentPage: p } ; let i= index">
                <td>{{cc.name}}</td>
                <td>{{cc.phoneNum}}</td>
                <td>{{cc.email}}</td>
                <td><i class="glyphicon glyphicon-pencil" (click)="editContact(cc,i)"></i></td>
                <td><i class="glyphicon glyphicon-remove" (click)="removeContact(i)"></i></td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
      <div class="row contacts-list no-data" *ngIf="currentContactsList.length <=0">
        No Contacts Yet
        <div class="row">
          <div class="grp-button col-sm-12">
            <button  class="btn btn-primary" (click)="AddContact()">Add New Contact</button>
          </div>
      </div>
    </div>
  </div>
</div>





